.core__appBar {
  border-radius: 15;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo__heading {
  color: rgba(0,183,255, 1);
}

.logo__image {
  margin-left: 15px;

}


@media screen and (max-width: 600px) {
  .mainContainer {
    flex-direction: column-reverse;
}
}